// @import 'vendor/reset';
@import 'blocks/vars';
@import 'mixins';
// @import "./vendor/animate";


@import 'fonts';
@import 'settings';


html,body{
  height: 100%;
  // background: #f2f2f2;
  // color: #191919;
   margin: 0;
  // font-family: var(--font-family);
  font-family: var(--third-family);
}

.main{
  height: 100%;
  flex: 1 0 auto; 
}

// ======blocks=========

@import 'blocks/container';
@import 'blocks/page';
@import 'blocks/header';
// первая страница
@import 'blocks/hero';
@import 'blocks/brands';
@import 'blocks/services';
@import 'blocks/industry';
@import 'blocks/countries';
@import 'blocks/cases';
@import 'blocks/about';
@import 'blocks/reviewes';
@import 'blocks/journal';
// конец первой страницы
// вторая страница
@import 'blocks/shero';
@import 'blocks/brands';
@import 'blocks/markup';
@import 'blocks/types';
@import 'blocks/stages';
@import 'blocks/timeplan';
@import 'blocks/fluence';

//страница блога
@import 'blocks/blog';
//страница блога-single
@import 'blocks/single';

//страница партнеров
@import 'blocks/partners';
@import 'blocks/business';
@import 'blocks/bigpartners';
@import 'blocks/order';

// команда
@import 'blocks/team';
@import 'blocks/tcase';
// @import 'blocks/order';
// датасет
@import 'blocks/dhero';
@import 'blocks/description';
@import 'blocks/specification';
@import 'blocks/price';
@import 'blocks/statistic';
@import 'blocks/faq';
@import 'blocks/metadate';
@import 'blocks/resultprice';
@import 'blocks/catalog';
@import 'blocks/workers';
@import 'blocks/isodataset';
@import 'blocks/languages';
@import 'blocks/area';
@import 'blocks/ddescription';
// @import 'blocks/order';
@import 'blocks/documents';
@import 'blocks/controls';

// страница industry
@import 'blocks/ihero';
@import 'blocks/list';
// @import 'blocks/brands';
// @import 'blocks/about';
// @import 'blocks/stages';

// страница okk
// @import 'blocks/ihero';
// @import 'blocks/brands';
// @import 'blocks/markup';
 @import 'blocks/odescription';
 //  @import 'blocks/timeplan';
 @import 'blocks/okkneed';
 @import 'blocks/expertise';
 @import 'blocks/individual';



@import 'blocks/footer';






