// @import 'vendor/reset';
@import 'blocks/vars';
@import 'mixins';
// @import "./vendor/animate";


// @import 'fonts';
@import 'settings';


html,body{
  height: 100%;
  // background: #f2f2f2;
  // color: #191919;
   margin: 0;
  // font-family: var(--font-family);
  font-family: var(--third-family);
}

.main{
  height: 100%;
  flex: 1 0 auto; 
}

// ======blocks=========

@import 'blocks/container';
@import 'blocks/page';
@import 'blocks/header';
// первая страница
@import 'blocks/hero';
@import 'blocks/brands';
@import 'blocks/services';
@import 'blocks/industry';
@import 'blocks/countries';
@import 'blocks/cases';
@import 'blocks/about';
@import 'blocks/reviewes';
@import 'blocks/journal';
// конец первой страницы
// вторая страница
@import 'blocks/shero';
@import 'blocks/brands';
@import 'blocks/markup';
@import 'blocks/types';

//страница блога
@import 'blocks/blog';
//страница блога-single
@import 'blocks/single';


@import 'blocks/footer';






