.blog__title {
    font-weight: 800;
    font-size: clamp(25px, 5vw, 74px);
    line-height: 122%;
    color: #111b4f;
    padding-top: clamp(40px, 6.5vw ,80px);
}

.blog__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: clamp(30px, 5vw, 60px);
    gap: 20px;
    flex-wrap: wrap;
    
    @include small-tablet{
        gap: 10px;
    }

    & li {
        flex-grow: 1;
        padding-bottom: clamp(5px, 1.5vw, 20px);
        border-bottom: 1px solid rgba(26, 41, 71, 0.49);

        @include small-tablet{
            text-align: center;
        }

        & a {
            font-weight: 600;
            font-size: clamp(18px, 2.2vw,  25px);
            line-height: 140%;
            color: var(--accent-color);
        }
    }
}

.blog__inner {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: minmax(340px, 390px) 1fr;
    gap: 60px;
    @include tablet{
        display: flex;
        flex-wrap: wrap;
    }

    & aside{
        @include tablet{
            display: none;
        }
    }
}

.blog__inner__form {
    & form {
        display: flex;
        width: 100%;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 2px solid #dfdfdf;

        & input[type="text"] {
            width: 100%;
            font-weight: 600;
            font-size: 16px;
            line-height: 156%;
            color: #73737e;
            border: none;

            &:active,
            &:focus {
                outline: none;
            }
        }

        & button[type="submit"] {
            background-color: transparent;
            border: none;
            cursor: pointer;

            & img {
                pointer-events: none;
            }
        }
    }
}

.blog__inner__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 145%;
    color: #111b4f;
    padding: 40px 0px 20px;
}

.blog__inner__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    & li {
        padding: 7px 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 157%;
        color: #15247a;
        border: 1px solid #dfdfdf;
    }
}

.blog__inner__callback__link {
    color: var(--accent-color);
    padding: 22px 23px;
    // padding-right: 82px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    column-gap: 34px;
    background: #fff;
    border-radius: 14px;
    max-width: 218px;

    &:after {
        display: inline-flex;
        content: '';
        background-image: url('data:image/svg+xml, %3Csvg%20width=%2225%22%20height=%2222%22%20viewBox=%220%200%2025%2022%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%20%20%3Cpath%20d=%22M17.3378%206.63135L7.39453%2015.3666%22%20stroke=%22#5970F6%22%20stroke-width=%221.7%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20/%3E%20%20%20%3Cpath%20d=%22M10.3574%206.5874L17.3378%206.63064L17.388%2012.7639%22%20stroke=%22#5970F6%22%20stroke-width=%221.7%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20/%3E%20%3C/svg%3E');
        width: 24px;
        height: 21px;
        transition: transform 0.3s linear;
    }

    &:hover:after {
        transform: rotate(40deg);
    }
}

.blog__inner__callback {
    background: #5970f6;
    padding: 30px;
    margin-top: 40px;


    & span {
        font-weight: 800;
        font-size: 18px;
        line-height: 111%;
        letter-spacing: 0.1em;
        color: #fff;
        padding-bottom: 30px;
        display: block;
    }
}

.journal__inner__bottom__item__image {
    position: relative;

    &>p {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;
    }
}

.journal__inner__bottom__item__author {
    padding-left: 24px;
}

.journal__inner__bottom__item__content {}

.journal__inner__bottom__item__link {
    max-width: 100%;
    border-bottom: none;
}

.blog__inner__posts__image__desc {
    padding: 8px 14px;
    background: #5970f6;
    font-weight: 600;
    font-size: 14px;
    color: white;
    max-width: max-content;
}

.blog__inner__posts__content {
    display: block;
    font-weight: 600;
    font-size: clamp(16px, 2vw ,22px);
    line-height: 145%;
    color: #111b4f;
    padding-bottom: 26px;
    margin-left: 22px;
}

.blog__inner__posts__image__desc {
    padding: 8px 14px;
    background-color: var(--accent-color);
    // font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.1em;
    color: #fff;
}

.blog__inner__posts__image {
    & img {
        width: 100%;
    }
}

.blog__inner__posts__image {
    margin-bottom: 23px;
}

.blog__inner__posts__author {
    display: block;
    margin-bottom: 13px;
    margin-left: 22px;
    margin-right: 22px;
}

.blog__inner__posts__link {
    padding-left: 22px;
    // max-width: 100%;
    // margin-right: 22px;
}

article {
    display: flex;
    flex-direction: column;

    hr {
        //  padding-left: 22px;
        // margin-right: 22px;
        max-width: 100%;
    }
}

.blog__inner__wrapper {
    position: sticky;
    top: 40px;
}

.blog__pagination {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: max-content;
    margin: 0 auto;

    & li {
        font-weight: 700;
        font-size: 18px;
        line-height: 156%;
        text-align: center;
        color: var(--accent-color);
        background-color: rgba(89, 112, 246, 0.2);
        border-radius: 50%;
        width: clamp(35px, 4.5vw, 60px);
        height: clamp(35px, 4.5vw, 60px);
        display: flex;
        justify-content: center;
        align-items: center;

        &.current{
            background-color: var(--accent-color);
            color: white;
        }

        & a{
            width: 100%;
        }
    }
}