.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 40px;

    @include tablet {
        padding: 0 30px;
    }

    @include mobile {
        padding: 0 15px;
    }
}

.container__fluid{
    max-width: 1655px;
    margin-left: auto;
    // margin-right: unset;
    padding: 0;
    margin-right: 15px;
}