.ddescription {
    & * {
        font-family: var(--third-family);
    }


    & .project__title {
        text-align: left;
        margin-bottom: clamp(20px, 2.5vw,40px);

        & small {
            display: block;
        }
    }

    &  .container{
        @include small-tablet{
            grid-template-columns: 1fr !important;
        }
    }
    .hero__inner__item__link{
        margin-top: 40px;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

.ddescription__left__list {

    & li {
        display: block;
        font-weight: 600;
        font-size: clamp(14px, 2.2vw, 20px);
        color: #595856;
        margin-bottom: 24px;
        text-align: left;

        &:not(:first-child) {
            border-bottom: 2px solid #9a9a9a;
            padding-bottom: 28px;
        }
    }
}