.fluence__inner {
    margin-bottom: 60px;

    @include small-tablet {
        gap: 10px !important;
        margin-bottom: 40px;
        margin-top: 20px !important;
    }

    & li {
        border-radius: 10px;
        background: rgba(89, 112, 246, 0.1);
        padding: 20px 30px;
        display: flex;
        align-items: center;
        gap: 15px;

        @include small-tablet{
            padding: 12.5px 18px;
            font-size: 14px;
        }
    }
}

.flunce__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #252334;

    & b {
        display: block;
        font-weight: 600;
    }

    @include small-tablet{
        font-size: 14px;
    }
}

.fluence__link {
    color: var(--light-color);
    padding: 22px 23px;
    // padding-right: 82px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    column-gap: 34px;
    background-color: var(--accent-color);
    border-radius: 14px;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: clamp(20px,3vw, 40px);

    &:after {
        display: inline-flex;
        content: '';
        background-image: url('data:image/svg+xml, %3Csvg%20width=%2225%22%20height=%2222%22%20viewBox=%220%200%2025%2022%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%20%20%3Cpath%20d=%22M17.3387%206.63135L7.39551%2015.3666%22%20stroke=%22white%22%20stroke-width=%221.7%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20/%3E%20%20%20%3Cpath%20d=%22M10.3584%206.5874L17.3387%206.63064L17.389%2012.7639%22%20stroke=%22white%22%20stroke-width=%221.7%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20/%3E%20%3C/svg%3E');
        width: 24px;
        height: 21px;
        transition: transform 0.3s linear;
    }

    &:hover:after {
        transform: rotate(40deg);
    }
}