.header {}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & nav{
        @include for-desktop{
            display: none;
        }
    }
}

.header__inner__logo {
    width: 100%;
    max-width: 133px;
}

.header__inner__menu {
    display: flex;
    column-gap: 16px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--font-color);
}

.menu-item-has-children {
    position: relative;
    transition: all 0.3s linear;
    display: flex;
    column-gap: 8px;
    align-items: center;

    &:after{
        content: "";
        width: 10px;
        height: 10px;
        background-image: url('data:image/svg+xml,%3Csvg%20width=%2210%22%20height=%2213%22%20viewBox=%220%200%2010%2013%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%20%20%3Cpath%20d=%22M4.99961%209.34375C4.78639%209.34375%204.57307%209.2644%204.41058%209.10571L0.244128%205.04321C-0.081376%204.72583%20-0.081376%204.21167%200.244128%203.89429C0.569632%203.5769%201.09695%203.5769%201.42245%203.89429L4.99961%207.38359L8.57755%203.89492C8.90305%203.57754%209.43037%203.57754%209.75587%203.89492C10.0814%204.2123%2010.0814%204.72646%209.75587%205.04385L5.58942%209.10635C5.42667%209.26504%205.21314%209.34375%204.99961%209.34375Z%22%20fill=%22#111B4F%22%20/%3E%20%3C/svg%3E');
        display: inline-flex;
    }

    &:before{
        content: "";
        position: absolute;
        top: -30px;
        left: 0;
        right: 0;
        z-index: 1;
        width: 0;
        height: 3px;
        opacity: 0;
        background-color: var(--accent-color);
        transition: all 0.3s linear;
    }

    &:hover:before{
        opacity: 1;
        width: 100%;
    }
}

.header__inner__contact {
    border: 1px solid var(--accent-color);
    border-radius: 14px;
    padding: 17px 43.5px;
    background: rgba(89, 112, 246, 0);
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--accent-color);
    transition: all 0.3s linear;

    &:hover{
        background-color: var(--accent-color);
        color: white;
    }

    @include for-desktop{
        margin-left: auto;
        margin-right: 20px;
    }

    @include mobile{
        display: none;
    }
}

.burger-btn{
    display: none;

    @include for-desktop{
        display: block;
    }
}
.burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.burger-btn span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: transform 0.3s ease;
}

.burger-btn span:nth-child(1) {
    top: 0;
}

.burger-btn span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger-btn span:nth-child(3) {
    bottom: 0;
}

.burger-close span:nth-child(1) {
    transform: translateY(50%) rotate(45deg);
    top: 16px;
}

.burger-close span:nth-child(2) {
    opacity: 0;
}

.burger-close span:nth-child(3) {
    transform: translateY(-50%) rotate(-45deg);
    bottom: 15px;
}
