.hero {
    position: relative;
}


.hero__inner {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;

    @include mobile {
        grid-template-columns: 1fr;
    }

    &__item>span {
        font-weight: 800;
        font-size: clamp(10px, 4vw, 14px);
        line-height: 1.43;
        letter-spacing: 0.1em;
        display: block;
        margin-bottom: 10px;
        max-width: 686px;
    }
}

.hero__inner__item {
    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;

        & span, & h1, & p{
            text-align: center;
        }
    }

    &.desktop {
        @include mobile {
            display: none;
        }
    }

    &.mobile {
        display: none;

        @include mobile {
            display: block;
            max-width: 250px;
        }
    }

}

.hero__inner__item__title {
    font-weight: 400;
    font-family: var(--third-family);
    max-width: 983px;
    font-size: clamp(25px, 6vw, 74px);
    line-height: 1.22;
    color: var(--font-color);
    display: block;
    margin-bottom: clamp(5px, 4vw, 35px);

    & span {
        display: block;
        font-weight: 800;
    }
}

.hero__inner__subtitle {
    display: block;
    max-width: 549px;
    font-family: var(--third-family);
    font-size: 18px;
    line-height: 1.56;
    font-weight: 400;
    margin-bottom: clamp(20px, 4.5vw, 60px);
}

.hero__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 1920px;
    height: auto;
}

