.metadate__desc {
    display: block;
    text-align: right;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #595856;
}

.metadate {

    margin-bottom: 20px;
    
    & * {
        font-family: var(--third-family);
    }

    & .project__title {
        margin-bottom: 40px;
    }
}

.metadate__inner {

    & li{
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
        padding: 25px 30px;
    
        display: flex;
        gap: 15px;
        align-items: center;
        background: #f3f5fc;
        border: 2px solid #fff;
        border-radius: 8px;
    }
}