.order__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    align-items: center;
}

.order__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.order__inner__item__top {
    margin-top: 87px;
    background: #eef0fe;
}

.order__inner__item__bottom {
    display: grid;
    grid-template-columns: 1fr 55px;
    padding: 12px 13px 10px;
    background: #eef0fe;


    & a {
        grid-row: 1/3;
        grid-column: 2;
    }

    & .order__inner__item__bottom__title {
        font-weight: 700;
        font-size: 28px;
        color: #111b4f;
    }

    & small {
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        color: #73737e;
    }
}

.order__inner__item {
    .order__inner__item__subtitle {
        padding-top: 26px;
        font-size: 18px;
        line-height: 156%;
        color: #73737e;

        &>a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #5970f6;
        }
    }

    & form {
        margin-top: 28px;

        &>span {
            display: block;

            & .order__form__label__ques {
                margin-top: 30px;
                font-weight: 600;
                font-size: 16px;
                line-height: 156%;
                color: #73737e;
                display: flex;
                flex-direction: column;

                & input {
                    border: none;
                    border-bottom: 1px solid #dfdfdf;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 156%;
                    padding: 10px;
                }

                & textarea {
                    border: none;
                    border-bottom: 1px solid #dfdfdf;
                    resize: none;
                    max-height: 100px;
                    margin-bottom: 30px;
                }
            }
        }

        .order__input {
            border: none;
            border-bottom: 1px solid #dfdfdf;
            padding-bottom: 15px;
            font-weight: 600;
            font-size: 16px;
            line-height: 156%;

            &:placeholder {
                font-weight: 600;
                font-size: 16px;
                line-height: 156%;
                color: #73737e;
            }

            &:active,
            &:focus {
                outline: none;
            }
        }

        .order__form {}

        .order__form__label {
            font-weight: 600;
            font-size: 16px;
            line-height: 156%;
            color: #73737e;

            & select {
                width: 100%;
                padding: 10px 25px 10px 16px;
                background: #f8f8f8;
                border: 1px solid #636363;
                margin-top: 8px;
                font-weight: 600;
                font-size: 16px;
                color: #595856;

                & option {
                    padding: 10px 25px 10px 16px;
                    background: #f8f8f8;
                    border: 1px solid #636363;
                    font-weight: 600;
                    font-size: 16px;
                    color: #595856;
                }
            }
        }

        .order__inner__bottom {
            margin-bottom: 30px;
            display: flex;
            gap: 8px;
            max-width: 640px;
            font-weight: 600;
            font-size: 16px;
            color: #73737e;

            & a {
                text-decoration: underline;
                text-decoration-skip-ink: none;
            }

            & input[type="checkbox"] {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        & input[type="submit"] {
            text-transform: capitalize;
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
        }
    }
}