.resultprice {

    margin-bottom: 20px;
    
    & * {
        font-family: var(--third-family);
    }

    & .project__subtitle {
        margin-bottom: 15px;
    }

    & .project__title {
        margin-bottom: 40px;
    }
}

.resultprice__item__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #252334;
}

.resultprice__item {
    & li {
        font-weight: 400;
        font-size: 18px;
        color: #595856;
        display: flex;
        gap: 20px;
        align-items: center;
    }
}