.shero__inner__item {
    font-family: var(--third-family);

    & h1 {
        font-weight: 400;
        font-size: clamp(25px, 5vw, 74px);
        line-height: 108%;
        color: #222324;
        padding: 10px 0 28px;
    }

    & p {
        font-weight: 400;
        font-size: clamp(14px, 2.3vw, 18px);
        line-height: 156%;
        color: #222324;
        padding-bottom: 28px;
    }

    & dl{
        display: flex;
        flex-direction: column;
        gap: clamp(5px, 1.5vw ,20px);
    }

    & dt {
        font-weight: 800;
        font-size: clamp(30px, 5vw, 74px);
        line-height: 122%;
    }

    & dd {
        font-weight: 600;
        font-size: clamp(14px, 4vw, 18px);
        line-height: 156%;
        color: #252334;
    }
}

.shero__bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}