
 :root {
    // base
    --font-family: "Mont", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Source Sans Pro", sans-serif;
    // --font3: "Outfit", sans-serif;
    --font7: "Lato", sans-serif;
    --content-width: 1434px;
    --content-fluid-width: 1920px;
    --container-offset: 30px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  
    // colors
    --light-color: #fff;
    --accent-color: #5970f6;
    --font-color:#222324;
    --text-color: rgba(#141024, 0.7);
  }
