<header class="header">
    <div class="container header__inner">
        <a href="" class="header__inner__logo">
            <img src="../assets/images/header/logo.svg" alt="logo" width="126" height="54">
        </a>
        
        <nav>
            <ul class="header__inner__menu list-reset">
                <li class="menu-item-has-children"><a href="">Датасеты</a></li>
                <li class="menu-item-has-children"><a href="">Услуги</a></li>
                <li class="menu-item-has-children"><a href="">Индустрии</a></li>
                <li class="menu-item-has-children"><a href="">Кейсы</a></li>
                <li class="menu-item-has-children"><a href="">Ресурсы</a></li>
                <li class="menu-item-has-children"><a href="">О нас</a></li>
            </ul>
        </nav>

        <a href="" class="header__inner__contact">Contact Us</a>
    </div>
</header>