<header class="header">
    <div class="container header__inner">
        <a href="" class="header__inner__logo">
            <img src="./assets/images/header/logo.svg" alt="logo" width="126" height="54">
        </a>
        
        <nav>
            <ul class="header__inner__menu list-reset">
                <li class="menu-item-has-children">
                    <a href="">Датасеты</a>
                    <ul>
                        <li>
                            <a href="">Сбор данных </a>
                            <ul>
                                <li>
                                    <a href="">Услуги по сбору данных</a>
                                </li>
                                <li>
                                    <a href="">Краудсорсинг</a>
                                </li>
                                <li>
                                    <a href="">Опросы и UX-исследования</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="./services.html">Услуги</a>
                    <ul>
                        <li>
                            <a href="">Разметка данных</a>
                            <ul>
                                <li>
                                    <a href="">Услуги по разметке данных</a>
                                </li>
                                <li>
                                    <a href="">Разметка фото</a>
                                </li>
                                <li>
                                    <a href="">Разметка видео</a>
                                </li>
                                <li>
                                    <a href="">Разметка аудио</a>
                                </li>
                                <li>
                                    <a href="">Разметка текста</a>
                                </li>
                                <li>
                                    <a href="">Разметка DICOM и NIFTI</a>
                                </li>
                                <li>
                                    <a href="">Lidar  разметка</a>
                                </li>
                                <li>
                                    <a href="">Обучением LLM</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="">Индустрии</a>
                    <ul>
                        <li>
                            <a href="">Разметка данных</a>
                            <ul>
                                <li>
                                    <a href="">Услуги по разметке данных</a>
                                </li>
                                <li>
                                    <a href="">Разметка фото</a>
                                </li>
                                <li>
                                    <a href="">Разметка видео</a>
                                </li>
                                <li>
                                    <a href="">Разметка аудио</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="">Кейсы</a></li>
                <li class="menu-item-has-children"><a href="">Ресурсы</a></li>
                <li class="menu-item-has-children"><a href="">О нас</a></li>
            </ul>
        </nav>

        <a href="" class="header__inner__contact">Contact Us</a>

        <button id="burger-btn" class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>