<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="page">
        {{> header }}

        <main class="main">
            {{> body }}
        </main>
        {{> footer }}

    </div>
    <script src="assets/js/app.js"></script>
    <script>
        function addClassAndDisplay(element, className, targetSelector) {
            var target = element.querySelector(targetSelector);
            if (target) {
                target.classList.add(className);
                setTimeout(() => {
                    target.style.maxHeight = '1000px'; // Устанавливаем максимальную высоту для плавного раскрытия
                }, 50); // Небольшая задержка для применения изменений
            }
        }

        function removeClassAndHide(element, className, targetSelector) {
            var target = element.querySelector(targetSelector);
            if (target) {
                target.style.maxHeight = '0'; // Устанавливаем нулевую высоту для плавного скрытия
                    target.classList.remove(className);
            }
        }

    </script>
</body>

</html>