<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="page" style="overflow: hidden;">
        {{> header }}

        <main class="main">
            {{> body }}
        </main>
        {{> footer }}

    </div>
    <script src="assets/js/app.js"></script>
    <script>
        function addClassAndDisplay(element, className, targetSelector) {
            if (window.innerWidth >= 576) {
                var target = element.querySelector(targetSelector);
                if (target) {
                    target.classList.add(className);
                    let height;
                    window.innerWidth > 991 ? height = target.offsetHeight + 50 : height = target.offsetHeight + 30;

                    var previousElement = target.previousElementSibling;
                    previousElement.style.bottom = height + "px";
                }
            }
        }

        function removeClassAndHide(element, className, targetSelector) {
            if (window.innerWidth >= 576) {
                var target = element.querySelector(targetSelector);
                if (target) {
                    target.classList.remove(className);
                    var previousElement = target.previousElementSibling;
                    window.innerWidth > 991 ? previousElement.style.bottom = "50px" : previousElement.style.bottom = "30px";
                }
            }
        }

    </script>
</body>

</html>