<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="page" style="overflow: hidden;">
        {{> header }}

        <main class="main">
            {{> body }}
        </main>
        {{> footer }}

    </div>
    <script defer>
    const swiperTypes = new Swiper('.swiper__types', {
    // Optional parameters
    loop: true,
    slidesPerView: 4,
    spaceBetween: 45,
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
        // when window width is >= 320px
        200: {
          slidesPerView: 2,
          spaceBetween: 20
        },
        // when window width is >= 480px
        768: {
          slidesPerView: 3,
          spaceBetween: 30
        },
        // when window width is >= 640px
        1200: {
          slidesPerView: 4,
          spaceBetween: 45
        }
      }
  });
    </script>
    
</body>

</html>